Repository gwpy/gwpy, pull requests merged in 2018-12, with the labels that each got.

#983 Allow users to save time and memory computing Q-scans
  gwpy/cli/tests/test_qtransform.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#972 Fixing both the scraping of env at load and the error you get if you perform a sql query that returns an empty result
  gwpy/table/io/gravityspy.py
  gwpy/table/io/sql.py
Labels: backwards-compatible, bug-fix, gwpy.table

#981 Removed deprecated gwpy.plotter module
  .codebeatignore
  .codeclimate.yml
  docs/index.rst
  docs/plotter/api.rst
  docs/plotter/index.rst
  gwpy/plotter/__init__.py
  gwpy/plotter/axes.py
  gwpy/plotter/colors.py
  gwpy/plotter/core.py
  gwpy/plotter/decorators.py
  gwpy/plotter/filter.py
  gwpy/plotter/frequencyseries.py
  gwpy/plotter/gps.py
  gwpy/plotter/histogram.py
  gwpy/plotter/html.py
  gwpy/plotter/log.py
  gwpy/plotter/rc.py
  gwpy/plotter/segments.py
  gwpy/plotter/series.py
  gwpy/plotter/spectrogram.py
  gwpy/plotter/table.py
  gwpy/plotter/tex.py
  gwpy/plotter/text.py
  gwpy/plotter/timeseries.py
  gwpy/plotter/utils.py
  setup.cfg
Labels: backwards-incompatible, gwpy.plot, gwpy.plotter

#986 Fix interpolation domain in FrequencySeries.interpolate()
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
Labels: backwards-compatible, bug-fix, gwpy.frequencyseries

#991 Added timeseries/io section on GWOSC HDF5
  docs/timeseries/io.rst
Labels: documentation

#985 Added functionality for matplotlib inline backend
  gwpy/plot/plot.py
Labels: backwards-compatible, bug-fix, gwpy.plot

#993 Renamed gwpy.tests to gwpy.testing
  gwpy/astro/tests/test_range.py
  gwpy/cli/tests/base.py
  gwpy/cli/tests/test_qtransform.py
  gwpy/conftest.py
  gwpy/detector/tests/test_channel.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_gwf.py
  gwpy/io/tests/test_kerberos.py
  gwpy/io/tests/test_ligolw.py
  gwpy/io/tests/test_nds2.py
  gwpy/io/tests/test_utils.py
  gwpy/plot/tests/test_axes.py
  gwpy/plot/tests/test_plot.py
  gwpy/plot/tests/test_segments.py
  gwpy/plot/tests/test_tex.py
  gwpy/plot/tests/utils.py
  gwpy/segments/tests/test_flag.py
  gwpy/segments/tests/test_segments.py
  gwpy/signal/tests/test_fft.py
  gwpy/signal/tests/test_filter_design.py
  gwpy/signal/tests/test_window.py
  gwpy/spectrogram/tests/test_spectrogram.py
  gwpy/table/tests/test_gravityspy.py
  gwpy/table/tests/test_table.py
  gwpy/testing/__init__.py
  gwpy/testing/compat.py
  gwpy/testing/data/H1-LDAS_STRAIN-968654552-10.xml.gz
  gwpy/testing/data/HLV-HW100916-968654552-1.gwf
  gwpy/testing/data/HLV-HW100916-968654552-1.hdf
  gwpy/testing/data/X1-GWPY_TEST_SEGMENTS-0-10.txt
  gwpy/testing/data/X1-GWPY_TEST_SEGMENTS-0-10.xml.gz
  gwpy/testing/fixtures.py
  gwpy/testing/mocks.py
  gwpy/testing/utils.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/types/tests/test_array.py
  gwpy/types/tests/test_array2d.py
  gwpy/types/tests/test_series.py
  setup.py
Labels: backwards-incompatible, gwpy.cli, gwpy.detector, gwpy.frequencyseries, gwpy.io, gwpy.plot, gwpy.plotter, gwpy.segments, gwpy.signal, gwpy.spectrogram, gwpy.table, gwpy.time, gwpy.timeseries, gwpy.types

#994 Close docs plots to prevent them showing up more than once
  examples/frequencyseries/inject.py
  examples/timeseries/correlate.py
Labels: bug-fix, examples

#999 Fixed bug in Plot.show
  gwpy/plot/plot.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#992 Copy all metadata in Array.copy
  gwpy/types/array.py
  gwpy/types/tests/test_array.py
Labels: bug-fix, gwpy.types

#1003 Added support for applying ADC scaling from NDS2 buffers
  gwpy/testing/mocks.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/nds2.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
Labels: backwards-incompatible, dep:nds2, gwpy.timeseries
