Repository gwpy/gwpy, pull requests merged in 2018-06, with the labels that each got.

#686 Removed deprecated features
  .codeclimate.yml
  gwpy/segments/flag.py
  gwpy/segments/io/segwizard.py
  gwpy/table/io/ligolw.py
  gwpy/tests/test_segments.py
  gwpy/tests/test_table.py
  gwpy/tests/test_timeseries.py
  gwpy/tests/test_utils.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/__init__.py
  gwpy/timeseries/io/losc.py
  gwpy/timeseries/timeseries.py
  gwpy/utils/compat.py
  gwpy/utils/deps.py
Labels: backwards-incompatible, gwpy.segments, gwpy.table, gwpy.timeseries, gwpy.utils

#785 Added gwpy.time.gps_types tuple
  .travis.yml
  gwpy/tests/test_time.py
  gwpy/time/__init__.py
  gwpy/timeseries/core.py
  requirements-dev.txt
Labels: backwards-compatible, gwpy.time

#747 Rework of gwpy.cli module to reduce complexity
  .gitignore
  bin/gwpy-plot
  docs/Makefile
  docs/cli/coherence.rst
  docs/cli/coherencegram.rst
  docs/cli/examples.ini
  docs/cli/index.rst
  docs/cli/interactive-01.png
  docs/cli/interactive-02.png
  docs/cli/interactive.rst
  docs/cli/spectrogram.rst
  docs/cli/spectrum.rst
  docs/cli/timeseries.rst
  docs/conf.py
  gwpy/cli/__init__.py
  gwpy/cli/cliproduct.py
  gwpy/cli/coherence.py
  gwpy/cli/coherencegram.py
  gwpy/cli/qtransform.py
  gwpy/cli/spectrogram.py
  gwpy/cli/spectrum.py
  gwpy/cli/timeseries.py
  gwpy/tests/test_cli.py
Labels: backwards-compatible, documentation, gwpy.cli

#788 Moved generation of citations docs page into conf.py
  docs/Makefile
  docs/citing.rst.in
  docs/conf.py
  docs/zenodo-citations.py
  gwpy/utils/sphinx/zenodo.py
Labels: backwards-compatible, documentation

#797 Updated tests for O1_16KHZ dataset
  gwpy/io/losc.py
  gwpy/tests/test_io.py
Labels: bug-fix

#799 Added more variants on degrees_C in detector.units
  gwpy/detector/units.py
  gwpy/tests/test_detector.py
Labels: bug-fix, gwpy.detector

#801 Improved keyword handling in TimeSeriesDict.get
  gwpy/timeseries/core.py
Labels: bug-fix, gwpy.timeseries

#805 Fixed creation of empty Plot with geometry
  gwpy/plot/plot.py
  gwpy/plot/tests/test_plot.py
Labels: gwpy.plot

#806 Fixed bug slicing Series with null boolean array
  gwpy/types/sliceutils.py
  gwpy/types/tests/test_series.py
Labels: bug-fix, gwpy.types

#807 Fixed bug in Axes.scatter, need to cast to array before c_sorting
  gwpy/plot/axes.py
  gwpy/plot/tests/test_axes.py
Labels: bug-fix, gwpy.plot

#808 Modified gwpy.plot to just plot arrays, not quantities
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/plot/axes.py
  gwpy/plot/tests/test_plot.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
Labels: bug-fix, gwpy.plot

#811 Improvements to EventTable._get_time_column and dependents
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: bug-fix, gwpy.table

#812 Fixed colorbar in open-data-spectrogram.py
  examples/miscellaneous/open-data-spectrogram.py
Labels: examples

#813 Fixed autoscaling of parent X-axis in Plot.add_segments_bar
  gwpy/plot/plot.py
Labels: bug-fix, gwpy.plot

#814 Fixed autoscaling after segment plotting in SegmentAxes
  gwpy/plot/segments.py
Labels: bug-fix, gwpy.plot

#822 Fixed some broken tests exposed during conda build
  gwpy/io/tests/test_datafind.py
  gwpy/table/tests/test_gravityspy.py
  gwpy/tests/data/test_json_query.json
Labels: bug-fix, dep:gravityspy, gwpy.io, gwpy.table

#824 Converted README back to markdown [ci skip]
  .landscape.yml
  MANIFEST.in
  README.md
  README.rst
  etc/spec.template
  setup.py
Labels: bug-fix

#823 Fixed all of the test suite warnings
  gwpy/cli/spectrogram.py
  gwpy/cli/tests/base.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/plot/tests/test_log.py
  gwpy/plotter/log.py
  gwpy/plotter/series.py
  gwpy/segments/tests/test_flag.py
  gwpy/signal/fft/ui.py
  gwpy/signal/qtransform.py
  gwpy/signal/tests/test_fft.py
  gwpy/table/tests/test_table.py
  gwpy/tests/test_plotter.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/types/tests/test_series.py
Labels: backwards-compatible, bug-fix, gwpy.cli, gwpy.frequencyseries, gwpy.signal, gwpy.timeseries, gwpy.types

#817 Bad unit plot fix
  gwpy/cli/cliproduct.py
  gwpy/cli/spectrogram.py
Labels: gwpy.cli

#828 Fixed creating Plot from a list of numbers
  gwpy/plot/plot.py
  gwpy/plot/tests/test_plot.py
Labels: bug-fix, gwpy.plot
