Repository gwpy/gwpy, pull requests merged in 2018-11, with the labels that each got.

#911 Added support for discovering and reading Virgo FFL files
  gwpy/io/cache.py
  gwpy/io/datafind.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_datafind.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/cache.py
Labels: backwards-compatible, gwpy.io, gwpy.timeseries

#960 Modified strain unit definition to be an alias for dimensionless
  gwpy/detector/units.py
Labels: bug-fix, gwpy.detector

#970 Pin to pytest<4.0.0 for now
  requirements-test.txt
  setup.py
Labels: bug-fix

#974 Patch a memory leak in TimeSeries.demodulate()
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, bug-fix, gwpy.timeseries

#978 Removed urltype keyword from datafind find_*frametype functions
  ci/test.sh
  gwpy/io/datafind.py
Labels: backwards-incompatible, gwpy.io
