Repository gwpy/gwpy, pull requests merged in 2018-08, with the labels that each got.

#857 Improved dependency specifications in setup files
  ci/install-debian.sh
  ci/install-el.sh
  ci/install-macos.sh
  debian/control
  etc/spec.template
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: bug-fix, build:general

#859 Cleaned up sphinx docs utilities in gwpy.utils
  docs/conf.py
  docs/spectrogram/index.rst
  docs/spectrogram/spectrogram_plot.py
  docs/spectrum/index.rst
  docs/spectrum/spectrum_plot.py
  gwpy/utils/sphinx/autoclassapi.py
  gwpy/utils/sphinx/directives.py
  gwpy/utils/sphinx/numpydoc.py
  requirements-doc.txt
  setup.cfg
Labels: backwards-incompatible, documentation, gwpy.utils

#850 Added CI job for python3.7
  .circleci/config.yml
  gwpy/detector/channel.py
  setup.py
Labels: dep:astropy

#870 Fixed inclusion of segments in docs
  docs/examples/index.rst
  examples/segments/open-data.py
Labels: bug-fix, documentation, gwpy.segments

#868 New whitening scheme based on inverse spectrum truncation
  gwpy/cli/tests/test_qtransform.py
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/signal/filter_design.py
  gwpy/signal/tests/test_filter_design.py
  gwpy/signal/tests/test_window.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.frequencyseries, gwpy.signal, gwpy.timeseries

#872 Added from_nds2_buffers method for TimeSeriesBaseDict
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
Labels: backwards-compatible, dep:nds2, gwpy.timeseries

#871 Updated docs makefile
  docs/Makefile
  docs/conf.py
  docs/make.bat
  setup_utils.py
Labels: documentation

#873 A few minor improvements to examples
  examples/segments/open-data.py
  examples/table/rate.py
  examples/table/rate_binned.py
  examples/timeseries/blrms.py
  examples/timeseries/pycbc-snr.py
  examples/timeseries/qscan.py
  examples/timeseries/whiten.py
  gwpy/timeseries/core.py
Labels: examples, gwpy.timeseries

#874 Fixed crop warnings in TimeSeries.q_transform
  gwpy/timeseries/timeseries.py
Labels: bug-fix, gwpy.timeseries

#875 Fixed fetching 'online' data with the NDS2 client
  gwpy/detector/channel.py
  gwpy/io/nds2.py
  gwpy/tests/mocks.py
  gwpy/timeseries/io/nds2.py
Labels: bug-fix, dep:nds2, gwpy.detector, gwpy.io, gwpy.timeseries

#876 Fixed error reading GWF from unicode file path
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, gwpy.timeseries

#877 Fixed issues with automagic gap handling in TimeSeries data access methods
  gwpy/timeseries/core.py
  gwpy/timeseries/io/core.py
  gwpy/timeseries/io/nds2.py
Labels: bug-fix, gwpy.timeseries

#878 Updated defaults for spectrogram2
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-incompatible, gwpy.timeseries

#879 Update setuptools for LDG builds on CI
  ci/install-debian.sh
  ci/install-el.sh
Labels: bug-fix, build:debian, build:rhel
