Repository gwpy/gwpy, pull requests merged in 2018-04, with the labels that each got.

#724 Fixed labelling bug in SeriesAxes.plot_mmm
  gwpy/plotter/series.py
  gwpy/tests/test_plotter.py
Labels: bug-fix, dep:matplotlib, gwpy.plotter

#725 Added support for parsing histogram plot params in plot constructors
  gwpy/plotter/histogram.py
  gwpy/plotter/utils.py
  gwpy/tests/test_plotter.py
Labels: backwards-compatible, dep:matplotlib, gwpy.plotter

#726 Partial reversion of 724 to not set alpha for mmm lines
  gwpy/plotter/series.py
  gwpy/tests/test_plotter.py
Labels: bug-fix

#727 Modified sql.py to convert unicode columns to strings.
  gwpy/table/io/sql.py
Labels: bug-fix, dep:gravityspy, gwpy.table

#731 Fixed bug in generating multiprocessing segments in timeseries.io.cache
  gwpy/tests/test_timeseries_io.py
  gwpy/timeseries/io/cache.py
Labels: bug-fix, gwpy.timeseries

#730 Make FrequencySeries.ifft() consistent with TimeSeries.fft()
  gwpy/frequencyseries/core.py
  gwpy/tests/test_frequencyseries.py
Labels: bug-fix, gwpy.frequencyseries, gwpy.timeseries

#737 Added GPG signing instructions to release docs page
  docs/dev/release.rst
Labels: bug-fix, documentation

#738 Fixed sorting of tags in changelogs
  .travis.yml
  setup_utils.py
Labels: bug-fix, build:debian, build:rhel

#736 Fixed import of scipy windows module for 1.1.0rc1
  gwpy/signal/window.py
Labels: bug-fix, dep:scipy, gwpy.signal

#740 Added contract keyword to DataQualityFlag.round
  gwpy/segments/flag.py
  gwpy/tests/test_segments.py
Labels: backwards-compatible, gwpy.segments

#746 Fixed critical bug in TimeSeries.coherence_spectrogram, and added tests for coherence methods
  gwpy/spectrogram/coherence.py
  gwpy/tests/test_timeseries.py
Labels: bug-fix, gwpy.spectrogram

#745 Fixed bugs in reading offline PyCBC files
  gwpy/table/io/pycbc.py
Labels: bug-fix, dep:pycbc, gwpy.table

#743 Fixed bug in parsing git --version on macos
  setup_utils.py
Labels: bug-fix, build:general, python3
