Repository gwpy/gwpy, pull requests merged in 2018-10, with the labels that each got.

#914 Avoid pytest>=3.8 on appveyor
  appveyor.yml
Labels: bug-fix, build:windows

#883 Introducing a TimeSeries.convolve() method based on the overlap-save algorithm
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, dep:scipy, gwpy.signal, gwpy.timeseries

#923 Updated gap handling syntax
  gwpy/timeseries/core.py
  gwpy/types/series.py
Labels: backwards-compatible, gwpy.timeseries, gwpy.types

#925 Fixed fetching data with nds1
  ci/install-el.sh
  gwpy/io/nds2.py
  gwpy/timeseries/io/nds2.py
Labels: bug-fix, dep:nds2, gwpy.io, gwpy.timeseries

#924 Refactored frameCPP timeseries I/O module
  docs/timeseries/io.rst
  gwpy/detector/units.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/types/tests/test_array.py
Labels: bug-fix

#933 Fixed optimisation regression in framecpp.py
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, gwpy.timeseries

#929 Fixed nds2 get_availability name mapping using find_channels
  gwpy/io/nds2.py
Labels: bug-fix, dep:nds2, gwpy.io

#936 Preserve epoch in add_segments_bar
  gwpy/plot/plot.py
  gwpy/plot/tests/test_plot.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#930 Silence some NDS2 host warnings
  gwpy/io/nds2.py
  gwpy/io/tests/test_nds2.py
Labels: bug-fix, dep:nds2, gwpy.io

#934 Only actually use tqdm in verbose mode
  gwpy/utils/mp.py
Labels: bug-fix, gwpy.utils

#938 Allow specifying verbose prefix for NDS fetch
  gwpy/timeseries/core.py
  gwpy/timeseries/io/nds2.py
Labels: backwards-compatible, gwpy.timeseries

#935 Fixed errors applying ADC calibration when reading GWF
  gwpy/detector/units.py
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, gwpy.detector, gwpy.timeseries

#946 Fixed parsing filter strings in bug-fix python releases
  gwpy/table/filter.py
Labels: bug-fix, gwpy.table

#941 Added DataQualityDict.coalesce method
  gwpy/segments/flag.py
  gwpy/segments/tests/test_flag.py
Labels: backwards-compatible, gwpy.segments

#943 Fixed bug in assert_dict_equal in the test suite
  gwpy/segments/tests/test_flag.py
  gwpy/tests/utils.py
Labels: bug-fix

#942 Fixed DeprecationWarnings in the test suite
  gwpy/detector/io/clf.py
  gwpy/detector/io/omega.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/signal/fft/ui.py
  gwpy/signal/tests/test_fft.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/timeseries.py
  gwpy/types/array.py
Labels: bug-fix, gwpy.detector, gwpy.signal, gwpy.timeseries

#944 Patched DataQualityFlag.round() to preserve type
  gwpy/segments/flag.py
Labels: bug-fix, gwpy.segments

#950 Added python3.7 build with Appveyor CI
  .appveyor.yml
Labels: bug-fix, build:windows

#951 Removed dependencies on glue.segmentsUtils library
  gwpy/segments/io/segwizard.py
  gwpy/segments/tests/test_segments.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_statevector.py
Labels: backwards-compatible, dep:glue, gwpy.segments, gwpy.timeseries
