Repository gwpy/gwpy, pull requests merged in 2018-03, with the labels that each got.

#695 Reworked dependency installation for OS CI builds
  .travis.yml
  ci/docker-install.sh
  ci/install-debian.sh
  ci/install-el.sh
  ci/install-macos.sh
  ci/install.sh
  ci/lib.sh
  gwpy/tests/test_segments.py
Labels: bug-fix, build:debian, build:general, build:macports, build:rhel

#698 Fixed bug in definition of SpectralVariance.yspan
  gwpy/frequencyseries/hist.py
  gwpy/tests/test_frequencyseries.py
Labels: bug-fix, gwpy.frequencyseries

#700 Improved docstrings for Array plot() methods
  gwpy/frequencyseries/core.py
  gwpy/frequencyseries/hist.py
  gwpy/table/table.py
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/timeseries.py
Labels: bug-fix, documentation

#701 Deprecated the @axes_methods decorator
  examples/signal/gw150914.py
  examples/table/rate.py
  examples/table/rate_binned.py
  examples/timeseries/public.py
  examples/timeseries/statevector.py
  gwpy/cli/cliproduct.py
  gwpy/plotter/decorators.py
  gwpy/tests/test_plotter.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, dep:matplotlib, documentation, examples, gwpy.cli, gwpy.plotter, gwpy.spectrogram

#702 Updated all comment lines to standard [ci skip]
  gwpy/detector/channel.py
  gwpy/plotter/frequencyseries.py
  gwpy/plotter/gps.py
  gwpy/plotter/segments.py
  gwpy/plotter/timeseries.py
  gwpy/segments/flag.py
Labels: bug-fix

#703 Removed deprecated _version_helper module
  gwpy/_version_helper.py
Labels: backwards-incompatible

#707 Added support for the GWPY_CACHE environment variable to automatically set cache=True
  docs/timeseries/remote-access.rst
  gwpy/timeseries/core.py
  gwpy/timeseries/io/losc.py
Labels: backwards-compatible, dep:astropy, gwpy.timeseries

#708 Updated behaviour of known segments for DataQualityFlag logic operations
  docs/segments/index.rst
  gwpy/segments/flag.py
  gwpy/tests/test_segments.py
Labels: backwards-incompatible, documentation, gwpy.segments

#690 Preserve order when uniquifying start times in gwpy.cli
  gwpy/cli/cliproduct.py
Labels: bug-fix, gwpy.cli

#709 Fixed some bugs in TimeSeriesAxes overloading of SeriesAxes
  gwpy/plotter/timeseries.py
  gwpy/plotter/utils.py
  gwpy/tests/test_spectrogram.py
Labels: bug-fix, gwpy.plotter

#705 Demodulation method for TimeSeries objects
  gwpy/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#711 Enabled setting extra attributes for DataQualityFlag when writing to LIGO_LW
  docs/segments/io.rst
  gwpy/io/ligolw.py
  gwpy/segments/flag.py
  gwpy/segments/io/ligolw.py
  gwpy/table/io/ligolw.py
  gwpy/tests/test_io.py
  gwpy/tests/test_segments.py
  gwpy/tests/test_table.py
Labels: backwards-compatible, gwpy.io, gwpy.segments, gwpy.table

#704 WIP: XOR method for DataQualityFlag and DataQualityDict
  docs/segments/index.rst
  gwpy/segments/flag.py
  gwpy/tests/test_segments.py
Labels: backwards-compatible, gwpy.segments

#712 Moved README to RST to support long_description on pypi
  MANIFEST.in
  README.md
  README.rst
  etc/spec.template
  setup.py
Labels: bug-fix, documentation

#714 Fixed bugs with specifying frequencies in BodePlot
  gwpy/plotter/filter.py
Labels: bug-fix, gwpy.plotter

#715 Patch to work around segmentation fault when iterating in frameCPP
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, gwpy.timeseries

#717 Deprecated custom Axes properties
  gwpy/plotter/axes.py
  gwpy/tests/test_plotter.py
  gwpy/utils/decorators.py
Labels: backwards-compatible, gwpy.plotter

#719 The similarity search form is now different and more simple.
  gwpy/table/gravityspy.py
Labels: backwards-compatible, dep:gravityspy, gwpy.table
