Repository gwpy/gwpy, pull requests merged in 2018-02, with the labels that each got.

#663 Use python 3.6 for pre-release CI build
  .travis.yml
  ci/install.sh
Labels: bug-fix, build:general

#666 Added event_gps method to gwpy.io.losc
  gwpy/io/losc.py
  gwpy/tests/test_io.py
Labels: backwards-compatible, gwpy.io

#667 Removed raise StopIteration calls from signal.qtransform
  gwpy/signal/qtransform.py
Labels: bug-fix, gwpy.signal

#668 Improved verbose output of TimeSeries.fetch_open_data
  gwpy/timeseries/io/losc.py
Labels: bug-fix, gwpy.timeseries

#669 Improved default server selection in DataQualityFlag.query*
  gwpy/segments/flag.py
  gwpy/tests/test_segments.py
Labels: bug-fix, gwpy.segments

#671 Updated expected LOSC timeline results to handle upstream change
  gwpy/tests/test_segments.py
Labels: bug-fix, gwpy.segments

#673 Improved method selection in DataQualityDict.query
  gwpy/segments/flag.py
  gwpy/tests/test_segments.py
Labels: bug-fix, gwpy.segments

#674 Updated tests to match updated LOSC JSON metadata for GW150914
  gwpy/tests/test_io.py
Labels: bug-fix

#672 Handle unit of '*' from NDS2
  gwpy/cli/cliproduct.py
Labels: bug-fix, gwpy.cli

#676 Improved error handling in TestGravitySpyTable
  gwpy/tests/test_table.py
Labels: bug-fix, gwpy.table

#677 Updated setup.py port command
  ci/install-macos.sh
  etc/Portfile.template
  setup_utils.py
Labels: backwards-compatible, build:macports

#679 Added documentation page for citations
  .gitignore
  docs/Makefile
  docs/index.rst
  docs/zenodo-citations.py
  requirements-dev.txt
  setup.py
Labels: documentation

#678 Fixed missing kwarg in TimeSeries.spectrogram
  gwpy/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: bug-fix, gwpy.timeseries

#681 Improvements based on codeclimate complaints
  gwpy/detector/channel.py
  gwpy/segments/flag.py
  gwpy/tests/test_detector.py
  gwpy/tests/test_segments.py
  gwpy/types/array.py
  gwpy/utils/misc.py
Labels: bug-fix, gwpy.detector, gwpy.segments, gwpy.types

#682 Simplified gwpy.utils.lal module for lal>=6.14.0
  .pylintrc
  debian/control
  etc/spec.template
  gwpy/frequencyseries/core.py
  gwpy/signal/fft/lal.py
  gwpy/tests/test_detector.py
  gwpy/tests/test_timeseries.py
  gwpy/tests/test_utils.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/utils/lal.py
Labels: bug-fix, build:debian, build:rhel, dep:lal, gwpy.frequencyseries, gwpy.signal, gwpy.timeseries, gwpy.utils

#685 Updated usage of glue.lal for glue-1.58.1
  gwpy/io/cache.py
  gwpy/segments/io/ligolw.py
  gwpy/tests/test_io.py
  gwpy/tests/test_time.py
  gwpy/tests/test_timeseries.py
  gwpy/timeseries/io/gwf/__init__.py
  gwpy/utils/lal.py
Labels: bug-fix, dep:glue, dep:lal, gwpy.io, gwpy.segments, gwpy.timeseries, gwpy.utils

#684 Fixed bug in Array2D slicing
  gwpy/frequencyseries/hist.py
  gwpy/spectrogram/core.py
  gwpy/tests/test_array.py
  gwpy/tests/test_frequencyseries.py
  gwpy/types/array.py
  gwpy/types/array2d.py
  gwpy/types/series.py
  gwpy/types/sliceutils.py
Labels: bug-fix, gwpy.spectrogram, gwpy.types

#687 Fixed a number of PEP-0008 related issues
  .codeclimate.yml
  .pep8speaks.yml
  gwpy/io/kerberos.py
  gwpy/signal/fft/basic.py
  gwpy/signal/fft/ui.py
  gwpy/table/io/omega.py
  gwpy/tests/mocks.py
  gwpy/tests/test_array.py
  gwpy/tests/test_frequencyseries.py
  gwpy/tests/test_signal.py
  gwpy/tests/test_timeseries.py
  gwpy/tests/utils.py
  gwpy/time/_tconvert.py
  gwpy/timeseries/io/gwf/__init__.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/utils/sphinx/numpydoc.py
Labels: bug-fix

#688 Improved naming of StateTimeSeries for comparison outputs
  gwpy/tests/test_timeseries.py
  gwpy/timeseries/core.py
Labels: bug-fix, gwpy.timeseries

#692 Added new example of FrequencySeriesAxes.plot_frequencyseries_mmm
  examples/frequencyseries/index.rst
  examples/frequencyseries/percentiles.py
Labels: bug-fix, examples

#693 Improved docstring for Spectrogram.plot
  gwpy/plotter/timeseries.py
  gwpy/spectrogram/core.py
Labels: bug-fix, documentation, gwpy.plotter, gwpy.spectrogram

#691 Use .copy() to ensure data ownership when creating Array
  gwpy/tests/test_array.py
  gwpy/tests/test_timeseries.py
  gwpy/types/array.py
Labels: bug-fix, dep:astropy, gwpy.types
