Repository gwpy/gwpy, pull requests merged in 2018-07, with the labels that each got.

#827 Removed module-level import of matplotlib.backends in gwpy.plot.plot
  gwpy/plot/plot.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#829 Fixed bugs in default labels for Plots and EventTable plotting
  gwpy/plot/plot.py
  gwpy/table/table.py
Labels: bug-fix, gwpy.table

#830 Simplified GWF channel inspection methods in gwpy.io.gwf
  bandit.yml
  ci/install-macos.sh
  gwpy/io/gwf.py
  gwpy/io/tests/test_gwf.py
Labels: backwards-compatible, gwpy.io

#831 Made segments bar smaller in Plot.add_segments_bar
  gwpy/plot/plot.py
Labels: backwards-compatible, gwpy.plot

#834 Set x-axis limit for each Q plot in gwpy.cli
  gwpy/cli/qtransform.py
Labels: bug-fix, gwpy.cli

#800 Update to fftgram method. This now outputs a complex spectrogram
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#848 Some trivial improvements to documentation
  docs/_static/css/gwpy-sphinx.css
  docs/segments/index.rst
  docs/table/plot.rst
Labels: bug-fix, documentation

#839 Use BytesIO to test plot savefig() without touching the disk
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/segments/tests/test_flag.py
  gwpy/spectrogram/tests/test_spectrogram.py
  gwpy/table/tests/test_table.py
  gwpy/tests/test_plotter.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
Labels: bug-fix, gwpy.frequencyseries, gwpy.plotter, gwpy.segments, gwpy.spectrogram, gwpy.table, gwpy.timeseries

#840 Removed unused code from test suite
  gwpy/spectrogram/tests/test_spectrogram.py
  gwpy/table/tests/test_table.py
  gwpy/types/tests/test_array.py
  gwpy/types/tests/test_series.py
Labels: bug-fix, gwpy.spectrogram, gwpy.table, gwpy.types

#841 Fixed ascii header bug on Windows
  gwpy/table/io/cwb.py
  gwpy/table/io/omega.py
Labels: bug-fix, build:windows, gwpy.table

#842 Use TemporaryFilename contextmanager for tests
  gwpy/cli/tests/base.py
  gwpy/detector/tests/test_channel.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_kerberos.py
  gwpy/io/tests/test_utils.py
  gwpy/plot/tests/test_plot.py
  gwpy/segments/tests/test_segments.py
  gwpy/table/tests/test_table.py
  gwpy/tests/utils.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, build:windows, gwpy.cli, gwpy.detector, gwpy.io, gwpy.plot, gwpy.segments, gwpy.table, gwpy.timeseries

#843 Simplified gwpy.utils.shell
  gwpy/utils/shell.py
  gwpy/utils/tests/test_shell.py
Labels: backwards-compatible, build:windows, gwpy.utils

#844 Bumped pycbc version in development requirements file
  requirements-dev.txt
Labels: bug-fix, dep:pycbc

#845 Removed custom sosfiltfilt in favour of scipy's version
  gwpy/signal/filter.py
  gwpy/timeseries/timeseries.py
  gwpy/types/sliceutils.py
Labels: gwpy.signal, gwpy.timeseries

#846 Added overloaded array methods for flatten and transpose
  gwpy/frequencyseries/hist.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/timeseries/statevector.py
  gwpy/types/array.py
  gwpy/types/array2d.py
  gwpy/types/series.py
  gwpy/types/sliceutils.py
  gwpy/types/tests/test_array.py
  gwpy/types/tests/test_array2d.py
Labels: bug-fix, dep:numpy, gwpy.timeseries, gwpy.types

#849 Added more packages for python3 on debian
  ci/install-debian.sh
  requirements-dev.txt
Labels: bug-fix, build:debian

#852 Fixed bug in astropy requirement spec
  setup.py
Labels: bug-fix, build:general, dep:astropy

#835 Cumulative changes from gwpy-plot testing
  bin/gwpy-plot
  gwpy/cli/cliproduct.py
  gwpy/cli/qtransform.py
  gwpy/cli/spectrogram.py
Labels: bug-fix, gwpy.cli

#837 Raise error on any floating point issues during whitening in q_transform
  gwpy/timeseries/timeseries.py
Labels: bug-fix, gwpy.timeseries

#809 Present better error for empty data given to Axes.hist if logbins=True, range=None
  gwpy/plot/axes.py
  gwpy/plot/tests/test_axes.py
Labels: bug-fix, gwpy.plot

#853 Install latex under docker for CI tests
  ci/install-debian.sh
  ci/install-el.sh
Labels: bug-fix, build:debian, build:rhel, gwpy.plot
