Repository gwpy/gwpy, pull requests merged in 2018-09, with the labels that each got.

#887 Allow passing clim=None to gwpy.plot.colors.format_norm
  gwpy/plot/colors.py
  gwpy/plot/tests/test_colors.py
Labels: bug-fix, gwpy.plot

#895 Avoid pytest-3.8.0 on windows
  appveyor.yml
Labels: bug-fix, build:windows

#882 Relative epoch
  gwpy/cli/cliproduct.py
Labels: bug-fix, gwpy.cli

#896 Added appveyor badges to README
  README.md
Labels: documentation

#884 Formatting qrange problem fixed
  gwpy/cli/qtransform.py
Labels: bug-fix, gwpy.cli

#885 gwpy/cli/timeseries.py: limit sample rate to 3 decimals in plot title
  gwpy/cli/timeseries.py
Labels: bug-fix, gwpy.cli

#898 Miscellaneous improvements to the documentation for gwpy-0.12.1
  docs/conf.py
  docs/index.rst
  docs/install/index.rst
  docs/overview.rst
  docs/plot/colorbars.rst
  docs/references.rst
  docs/signal/index.rst
  docs/spectrum/index.rst
  docs/timeseries/ldg.rst
  examples/timeseries/statevector.py
Labels: bug-fix, documentation

#900 Moved TimeSeries.shift upstream to Series
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_core.py
  gwpy/types/series.py
  gwpy/types/tests/test_series.py
Labels: gwpy.timeseries, gwpy.types

#904 Fixed detector bits for writing with lalframe
  gwpy/timeseries/io/gwf/lalframe.py
Labels: bug-fix, gwpy.timeseries

#906 Updated licensing information to GPLv3+
  README.md
  debian/copyright
  docs/index.rst
  etc/Portfile.template
  setup.py
Labels: bug-fix, build:general

#903 Fix normalization for whitening and FIR filter design
  gwpy/signal/filter_design.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: gwpy.signal, gwpy.timeseries

#908 More documentation fixes for 0.12.1
  docs/overview.rst
  docs/plot/gps.rst
  docs/spectrogram/index.rst
  docs/spectrum/index.rst
  docs/table/rate.rst
  docs/timeseries/plot.rst
  docs/timeseries/statevector.rst
Labels: bug-fix, documentation

#910 Added support for matplotlib-3.0.0
  gwpy/plot/plot.py
  gwpy/tests/test_plotter.py
Labels: bug-fix, dep:matplotlib, gwpy.plot, gwpy.plotter

#865 Updated gwpy.io.datafind to use new gwdatafind package
  ci/install-el.sh
  ci/install-macos.sh
  debian/control
  gwpy/io/datafind.py
  gwpy/io/gwf.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_gwf.py
  gwpy/table/io/gwf.py
  gwpy/tests/mocks.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/framecpp.py
  requirements-dev.txt
Labels: backwards-compatible, gwpy.io, gwpy.timeseries
