Repository gwpy/gwpy, pull requests merged in 2019-02, with the labels that each got.

#1025 Implement --legends arguments in gwpy-plot
  gwpy/cli/cliproduct.py
  gwpy/cli/spectrum.py
  gwpy/cli/timeseries.py
Labels: bug-fix, gwpy.cli

#1026 Fixed lingering references to gwpy.tests
  MANIFEST.in
  docs/timeseries/io.rst
Labels: bug-fix, build:conda, build:general

#1027 Fixed error with multiple deployments from travis
  .travis.yml
Labels: bug-fix

#1028 Added support for median average from scipy
  gwpy/signal/fft/scipy.py
  gwpy/signal/tests/test_fft.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: backwards-compatible, dep:scipy, gwpy.signal, gwpy.timeseries

#1029 Take series name from FrData structure when reading from GWF
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, dep:frameCPP, gwpy.timeseries

#1030 Fixed bugs in strict reading of segments from segwizard format
  gwpy/segments/io/segwizard.py
  gwpy/segments/tests/test_segments.py
Labels: bug-fix, gwpy.segments

#1032 Fixed HDF5 DeprecationWarning
  gwpy/timeseries/io/losc.py
  requirements-test.txt
Labels: bug-fix, gwpy.timeseries

#1037 Minor improvements to correlate.py
  examples/timeseries/correlate.py
Labels: bug-fix, examples

#1035 Restore grid after pcolormesh
  gwpy/plot/axes.py
  gwpy/plot/tests/test_axes.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#1033 Fixed tick label precision again
  gwpy/plot/gps.py
Labels: bug-fix, gwpy.plot

#1031 Use dqsegdb2 for segment queries
  debian/control
  docs/references.rst
  docs/segments/dqsegdb.rst
  docs/segments/index.rst
  etc/Portfile.template
  etc/spec.template
  gwpy/io/cache.py
  gwpy/segments/flag.py
  gwpy/segments/tests/test_flag.py
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: backwards-compatible, gwpy.segments

#1036 Refactored default parameters for Q-transform as module-level variables
  gwpy/signal/qtransform.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.signal

#1034 Removed latex macros from examples
  examples/frequencyseries/percentiles.py
  examples/frequencyseries/rayleigh.py
  examples/frequencyseries/variance.py
  examples/miscellaneous/open-data-spectrogram.py
  examples/spectrogram/spectrogram2.py
  examples/timeseries/filter.py
Labels: bug-fix, examples

#1039 Removed macports scipy install hack
  ci/install-macports.sh
Labels: bug-fix, build:macports

#1040 Renamed and moved a couple of I/O utility functions
  gwpy/detector/io/clf.py
  gwpy/io/cache.py
  gwpy/io/ligolw.py
  gwpy/io/mp.py
  gwpy/io/registry.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_utils.py
  gwpy/io/utils.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/io/gwf/lalframe.py
Labels: backwards-compatible, gwpy.detector, gwpy.io, gwpy.timeseries

#1041 Minor improvement to reading channel list files
  gwpy/detector/io/clf.py
Labels: bug-fix, gwpy.detector

#1044 Fixed bug reading two-col segments
  gwpy/segments/io/segwizard.py
  gwpy/segments/tests/test_segments.py
Labels: bug-fix, gwpy.segments

#1042 Improved EventTable I/O with decorators
  gwpy/table/io/__init__.py
  gwpy/table/io/cwb.py
  gwpy/table/io/omega.py
  gwpy/table/io/pycbc.py
  gwpy/table/io/root.py
  gwpy/table/io/utils.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: backwards-incompatible, dep:astropy, gwpy.table

#1045 Fixed a bug in the skip_minimum_version testing decorator
  gwpy/testing/utils.py
Labels: bug-fix, gwpy.testing

#1043 Refactored, renamed, and simplified FFT interface in gwpy.signal
  docs/signal/fft.rst
  docs/signal/index.rst
  gwpy/signal/fft.py
  gwpy/signal/fft/__init__.py
  gwpy/signal/fft/basic.py
  gwpy/signal/fft/registry.py
  gwpy/signal/spectral/__init__.py
  gwpy/signal/spectral/_lal.py
  gwpy/signal/spectral/_median_mean.py
  gwpy/signal/spectral/_pycbc.py
  gwpy/signal/spectral/_registry.py
  gwpy/signal/spectral/_scipy.py
  gwpy/signal/spectral/_ui.py
  gwpy/signal/spectral/_utils.py
  gwpy/signal/tests/test_fft.py
  gwpy/signal/tests/test_spectral_lal.py
  gwpy/signal/tests/test_spectral_pycbc.py
  gwpy/signal/tests/test_spectral_registry.py
  gwpy/signal/tests/test_spectral_scipy.py
  gwpy/signal/tests/test_spectral_ui.py
  gwpy/signal/tests/test_spectral_utils.py
  gwpy/testing/fixtures.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
  gwpy/utils/decorators.py
Labels: backwards-compatible, backwards-incompatible, dep:lal, dep:pycbc, dep:scipy, gwpy.signal, gwpy.timeseries

#1048 Fixed some warnings in testing
  gwpy/cli/spectrogram.py
  gwpy/cli/tests/base.py
Labels: bug-fix, dep:astropy, gwpy.cli

#1049 Upgrade gwdatafind to first-class dependency
  ci/install-el.sh
  ci/install-macports.sh
  debian/control
  docs/install/index.rst
  docs/segments/io.rst
  etc/Portfile.template
  etc/spec.template
  gwpy/io/datafind.py
  gwpy/io/tests/test_datafind.py
  gwpy/timeseries/core.py
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: backwards-compatible, build:conda, build:debian, build:general, build:macports, build:rhel, build:windows, dep:gwdatafind, gwpy.io

#1053 Improved pycbc import protection in tests
  gwpy/signal/tests/test_spectral_pycbc.py
Labels: bug-fix, build:general, dep:pycbc, gwpy.signal

#1051 Make interpolated Q-transform spectrograms single precision
  examples/timeseries/qscan.py
  gwpy/signal/qtransform.py
  gwpy/signal/tests/test_qtransform.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, documentation, enhancement, examples, feature-request, gwpy.signal

#1056 Added tests for frameCPP errors and fixed a bug
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, dep:frameCPP, gwpy.timeseries

#1055 Removed macports builds
  .circleci/config.yml
  .travis.yml
  README.md
  ci/coveralls.sh
  ci/install-conda.sh
  ci/install-el.sh
  ci/install-macports.sh
  ci/test.sh
  docs/dev/release.rst
  docs/install/index.rst
  etc/Portfile.template
  setup_utils.py
Labels: bug-fix, build:macports

#1052 Added basic gating as TimeSeries method
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#1060 Switch coverage to codecov, and update CI
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  README.md
  ci/codecov.sh
  ci/install-conda.sh
  ci/install-debian.sh
  ci/install-pip.sh
  ci/test.sh
Labels: bug-fix, build:general

#1061 Moved PyPI deploy to circleci
  .circleci/config.yml
  .travis.yml
Labels: backwards-compatible, build:debian

#1063 Use pytest-xdist to run tests in parallel
  .appveyor.yml
  ci/test.sh
  gwpy/plot/tests/test_gps.py
  gwpy/utils/tests/test_env.py
  requirements-test.txt
Labels: backwards-compatible, build:general

#1057 This allows downloaded images based on new table column naming scheme
  gwpy/table/gravityspy.py
  gwpy/table/tests/test_gravityspy.py
Labels: backwards-incompatible, dep:gravityspy, gwpy.table

#1067 Swap the defaults for applying ADC bias and slope calibration
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: backwards-incompatible, dep:frameCPP, dep:nds2, gwpy.timeseries
