Repository gwpy/gwpy, pull requests merged in 2019-09, with the labels that each got.

#1151 Myriad build/CI fixes
  .circleci/config.yml
  gwpy/timeseries/tests/test_timeseries.py
  requirements-test.txt
  setup.py
Labels: bug-fix, build:general, continuous-integration

#1147 Add heterodyne method to TimeSeries class
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, enhancement

#1154 Raise exception on a corner case in Q-transforms
  gwpy/signal/qtransform.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, enhancement

#1145 Added fixed length args to TimeSeries.taper
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#1156 Require that Q-planes have strictly increasing frequency
  gwpy/signal/qtransform.py
  gwpy/signal/tests/test_qtransform.py
Labels: bug-fix, gwpy.signal

#1157 Move unique utility into gwpy.utils.misc
  gwpy/cli/cliproduct.py
  gwpy/cli/spectrogram.py
  gwpy/cli/spectrum.py
  gwpy/cli/tests/base.py
  gwpy/utils/__init__.py
  gwpy/utils/misc.py
  gwpy/utils/tests/test_misc.py
Labels: backwards-compatible, gwpy.cli, gwpy.signal, gwpy.utils
