Repository gwpy/gwpy, pull requests merged in 2019-05, with the labels that each got.

#1102 Updated custom legend formatting
  docs/plot/index.rst
  docs/plot/legend.rst
  docs/timeseries/datafind.rst
  gwpy/plot/axes.py
  gwpy/plot/legend.py
  gwpy/plot/tests/test_axes.py
Labels: backwards-incompatible, dep:matplotlib, documentation, gwpy.plot

#1104 Miscellaneous python2/3 cross-compatibility changes
  gwpy/plot/tex.py
  gwpy/segments/flag.py
Labels: bug-fix, gwpy.plot, gwpy.segments, python3

#1108 Implemented __array_ufunc__ for gwpy.types.Array
  gwpy/timeseries/statevector.py
  gwpy/types/array.py
Labels: bug-fix, dep:astropy, gwpy.timeseries, gwpy.types

#1109 Run lintian after building debian packages
  ci/install-debian.sh
  setup_utils.py
Labels: bug-fix, build:debian

#1107 Improved reading tables from GWOSC
  docs/table/gwosc.rst
  gwpy/table/gravityspy.py
  gwpy/table/io/losc.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: backwards-incompatible, dep:gwosc, gwpy.table

#1112 Fixed GPS epoch handling in mpl-3.1.0
  gwpy/plot/gps.py
  gwpy/plot/tests/test_gps.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#1110 Fixed case error in setting nds connection epoch
  gwpy/io/nds2.py
Labels: bug-fix, dep:nds2, gwpy.io

#1111 Raise IndexError early when reading an empty list of files
  .appveyor.yml
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/hist.py
  gwpy/io/mp.py
  gwpy/io/tests/test_mp.py
  gwpy/segments/flag.py
  gwpy/segments/segments.py
  gwpy/table/table.py
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/types/series.py
Labels: bug-fix, gwpy.io

#1113 Update readme, contributing guide, and code of conduct
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.md
  README.md
Labels: documentation

#1115 Introduce a SegmentList.to_table method
  .circleci/config.yml
  gwpy/segments/segments.py
  gwpy/segments/tests/test_segments.py
Labels: backwards-compatible, gwpy.segments

#1114 Updated LIGO_LW XML <Array> reader
  docs/spectrum/io.rst
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/types/io/ligolw.py
Labels: bug-fix, dep:python-ligo-lw, documentation, gwpy.frequencyseries, gwpy.types

#1116 Updated release guide for stable mainline
  docs/dev/release.rst
Labels: documentation
