Repository gwpy/gwpy, pull requests merged in 2019-07, with the labels that each got.

#1131 A few compatibility fixes for pytest-5
  .appveyor.yml
  ci/install-conda.sh
  ci/parse-conda-requirements.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/utils/tests/test_decorators.py
  requirements-dev.txt
  requirements-test.txt
Labels: bug-fix, build:general, build:windows

#1132 Update gwpy.table test code for numpy-1.17
  .circleci/config.yml
  docs/install/index.rst
  gwpy/table/tests/test_table.py
  requirements-dev.txt
  setup.py
Labels: bug-fix, build:general, dep:astropy, dep:numpy

#1134 Run all tests from a separate directory
  .appveyor.yml
  .circleci/config.yml
  ci/codecov.sh
  ci/test.sh
Labels: bug-fix, build:general

#1125 Ensure percentile spectra have the same units as the parent Spectrogram
  gwpy/spectrogram/spectrogram.py
  gwpy/spectrogram/tests/test_spectrogram.py
Labels: bug-fix, gwpy.spectrogram

#1136 Fixed FutureWarning from numpy.stack
  gwpy/frequencyseries/hist.py
Labels: bug-fix, dep:numpy, gwpy.frequencyseries

#1124 Introduce a range_spectrogram method as a figure-of-merit
  examples/miscellaneous/index.rst
  examples/miscellaneous/range-spectrogram.py
  examples/miscellaneous/range-timeseries.py
  gwpy/astro/__init__.py
  gwpy/astro/range.py
  gwpy/astro/tests/test_range.py
Labels: enhancement, gwpy.timeseries

#1137 Don't exclude examples from flake8 in CI
  ci/test.sh
  examples/frequencyseries/coherence.py
  examples/frequencyseries/variance.py
  examples/miscellaneous/range-spectrogram.py
  examples/signal/gw150914.py
  examples/spectrogram/coherence.py
  examples/spectrogram/spectrogram2.py
  examples/test_examples.py
  examples/timeseries/blrms.py
  examples/timeseries/correlate.py
  examples/timeseries/filter.py
  setup.cfg
Labels: bug-fix, build:general, examples

#1138 Small fixes to the documentation
  .appveyor.yml
  .circleci/config.yml
  docs/_static/css/gwpy-sphinx.css
  docs/conf.py
  gwpy/astro/range.py
  gwpy/frequencyseries/_fdcommon.py
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/hist.py
  gwpy/plot/axes.py
  gwpy/plot/plot.py
  gwpy/plot/segments.py
  gwpy/segments/flag.py
  gwpy/signal/filter_design.py
  gwpy/signal/qtransform.py
  gwpy/spectrogram/spectrogram.py
  gwpy/table/io/gwf.py
  gwpy/table/io/ligolw.py
  gwpy/table/table.py
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/timeseries.py
  gwpy/types/array.py
  gwpy/types/series.py
  gwpy/types/sliceutils.py
Labels: bug-fix, documentation, gwpy.astro, gwpy.frequencyseries, gwpy.plot, gwpy.segments, gwpy.signal, gwpy.spectrogram, gwpy.table, gwpy.timeseries, gwpy.types

#1128 Refactor of GWF I/O utility code
  gwpy/detector/channel.py
  gwpy/detector/tests/test_channel.py
  gwpy/io/_framecpp.py
  gwpy/io/gwf.py
  gwpy/io/nds2.py
  gwpy/io/tests/test_gwf.py
  gwpy/io/tests/test_nds2.py
  gwpy/testing/fixtures.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/utils/enum.py
  gwpy/utils/tests/test_enum.py
Labels: backwards-compatible, dep:frameCPP, gwpy.io, gwpy.timeseries
