Repository gwpy/gwpy, pull requests merged in 2019-04, with the labels that each got.

#1087 Import KeysView and ValuesView from collections.abc
  gwpy/plot/plot.py
Labels: bug-fix, gwpy.plot

#1086 Added EventTable.fetch_open_data method to parse GWOSC catalogues
  .codeclimate.yml
  docs/ex2rst.py
  docs/table/index.rst
  examples/frequencyseries/inject.py
  examples/table/histogram.py
  examples/table/scatter.py
  gwpy/table/io/losc.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: backwards-compatible, dep:gwosc, gwpy.table

#1079 Improved read_cache and write_cache functions
  debian/control
  etc/spec.template
  gwpy/io/cache.py
  gwpy/io/tests/test_cache.py
  requirements.txt
  setup.py
Labels: backwards-compatible, gwpy.io

#1088 Fixed GPS scaling issue again
  .appveyor.yml
  gwpy/plot/gps.py
  gwpy/plot/tests/test_gps.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#1091 Change spectrogram axis set from crop for y-axis to ax.set_ylim() try#2
  gwpy/cli/spectrogram.py
Labels: bug-fix, gwpy.cli

#1085 gwpy.io: return unique creds from parse_keytab
  gwpy/io/kerberos.py
  gwpy/io/tests/test_kerberos.py
Labels: bug-fix, gwpy.io

#1093 Pin requirements to compatible pytest-xdist
  requirements-test.txt
Labels: bug-fix, build:general

#1047 Port LIGO_LW I/O to python-ligo-lw
  ci/install-debian.sh
  ci/install-el.sh
  docs/references.rst
  docs/segments/io.rst
  docs/table/io.rst
  examples/table/rate.py
  examples/table/rate_binned.py
  examples/table/tiles.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/io/ligolw.py
  gwpy/io/tests/test_ligolw.py
  gwpy/segments/flag.py
  gwpy/segments/io/ligolw.py
  gwpy/segments/tests/test_flag.py
  gwpy/table/io/__init__.py
  gwpy/table/io/ligolw.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
  gwpy/types/io/ligolw.py
  requirements-dev.txt
Labels: backwards-compatible, backwards-incompatible, dep:glue, gwpy.io, gwpy.segments, gwpy.table

#1096 Fixed bugs in gwpy.plot.utils for new matplotlib
  gwpy/plot/tests/test_utils.py
  gwpy/plot/utils.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#1097 Fixed interactive usage of kinit() in ipython kernels (jupyter)
  gwpy/io/kerberos.py
  gwpy/io/tests/test_kerberos.py
Labels: bug-fix, gwpy.io

#1098 A few updates to documentation
  docs/conf.py
  docs/ex2rst.py
  docs/install/index.rst
  docs/references.rst
  docs/segments/io.rst
  docs/timeseries/datafind.rst
  docs/timeseries/index.rst
  docs/timeseries/io.rst
  docs/timeseries/ldg.rst
  docs/timeseries/plot.rst
  docs/timeseries/remote-access.rst
  examples/frequencyseries/inject.py
  examples/miscellaneous/open-data-spectrogram.py
  examples/miscellaneous/range-timeseries.py
  examples/segments/open-data.py
  examples/signal/gw150914.py
  examples/signal/qscan.py
  examples/table/scatter.py
  examples/timeseries/inject.py
  examples/timeseries/qscan.py
  examples/timeseries/statevector.py
  gwpy/io/datafind.py
  gwpy/timeseries/tests/test_timeseries.py
  requirements.txt
  setup.py
Labels: bug-fix, documentation

#1101 Compatibility fixes for matplotlib-3.1+
  gwpy/plot/axes.py
  gwpy/plot/gps.py
  gwpy/plot/rc.py
  gwpy/plot/tests/test_axes.py
  gwpy/plot/tests/test_plot.py
Labels: bug-fix, dep:matplotlib, gwpy.plot
