Repository gwpy/gwpy, pull requests merged in 2019-11, with the labels that each got.

#1176 Pass mode to all h5py.File calls
  gwpy/segments/tests/test_flag.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, dep:h5py, gwpy.segments, gwpy.table

#1175 Remove use of local functions with multiprocessing
  gwpy/io/mp.py
  gwpy/signal/spectral/_ui.py
  gwpy/table/gravityspy.py
  gwpy/timeseries/timeseries.py
  gwpy/utils/mp.py
  gwpy/utils/tests/test_mp.py
  setup.cfg
Labels: bug-fix, gwpy.io, gwpy.signal, gwpy.table, gwpy.timeseries, gwpy.utils

#1167 Improve detection of working usetex
  gwpy/conftest.py
  gwpy/testing/fixtures.py
Labels: bug-fix, continuous-integration, gwpy.testing

#1183 Timeout conda install of root_numpy in CI
  ci/install-conda.sh
Labels: bug-fix, build:conda, continuous-integration

#1177 Updating some of the default values here
  gwpy/table/gravityspy.py
Labels: bug-fix, dep:gravityspy, gwpy.table

#1179 Added python36 RPM build on epel77
  .circleci/config.yml
  ci/install-el.sh
  etc/spec.template
  gwpy/segments/tests/test_flag.py
  gwpy/table/tests/test_table.py
Labels: bug-fix, build:rhel, continuous-integration

#1178 Some metadata updates
  debian/copyright
  setup.py
Labels: bug-fix, build:debian, build:general

#1181 Fix bug in interpolating complex frequency series
  gwpy/frequencyseries/frequencyseries.py
Labels: bug-fix, gwpy.frequencyseries

#1180 Bump minimum astropy requirement to 1.3.0
  debian/control
  docs/install/index.rst
  etc/spec.template
  gwpy/table/io/fetch.py
  requirements.txt
  setup.py
Labels: bug-fix, build:debian, build:rhel, dep:astropy, gwpy.table

#1185 Fix typo in TimeSeries.asd docs
  gwpy/timeseries/timeseries.py
Labels: bug-fix, documentation, gwpy.timeseries

#1184 Fix bug in x0 handling in Series.pad
  gwpy/types/series.py
  gwpy/types/tests/test_array2d.py
  gwpy/types/tests/test_series.py
Labels: bug-fix, gwpy.types

#1188 Improve documentation of custom legend handler in Axes.legend
  gwpy/plot/axes.py
Labels: bug-fix, dep:matplotlib, documentation, gwpy.plot
