Repository gwpy/gwpy, pull requests merged in 2019-01, with the labels that each got.

#1006 Use brute force frdata structure access with frameCPP
  gwpy/timeseries/io/gwf/framecpp.py
Labels: backwards-compatible, dep:frameCPP, gwpy.timeseries

#1007 Manually install openblas for scipy on macports
  ci/install-macports.sh
Labels: build:macports

#1001 Error on interactive prompts in non-interactive sessions for kinit()
  gwpy/io/kerberos.py
  gwpy/io/tests/test_kerberos.py
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.io, gwpy.timeseries

#984 Refactor TimeSeries.q_transform() to support eventgrams
  examples/signal/index.rst
  examples/signal/qscan.py
  gwpy/signal/qtransform.py
  gwpy/signal/tests/test_qtransform.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, enhancement, feature-request, gwpy.signal, gwpy.timeseries

#1010 Refactored tests of gwpy.cli to work with pytest-4.0
  .travis.yml
  ci/install-el.sh
  ci/test.sh
  gwpy/cli/tests/base.py
  gwpy/cli/tests/test_spectrogram.py
  requirements-test.txt
  setup.py
  setup_utils.py
Labels: bug-fix, build:general, gwpy.cli

#1013 Don't apply null ADC scaling
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, gwpy.timeseries

#1011 Fixed bug in gwpy.io.datafind.find_frametype
  gwpy/io/datafind.py
Labels: bug-fix, gwpy.io

#1009 Implemented TimeSeriesDict.span
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_core.py
Labels: backwards-compatible, gwpy.timeseries

#998 Implement --title
  gwpy/cli/cliproduct.py
Labels: bug-fix, gwpy.cli

#1016 Fixed error testing gwpy.io.nds2 when NDSSERVER is set on the host
  gwpy/io/tests/test_nds2.py
Labels: bug-fix, gwpy.io

#1017 Corrected pytest version requirement
  requirements-test.txt
  setup.py
Labels: bug-fix

#1018 Fixed symlinks of XML files
  docs/examples/table/H1-LDAS_STRAIN-968654552-10.xml.gz
  docs/table/H1-LDAS_STRAIN-968654552-10.xml.gz
  examples/table/H1-LDAS_STRAIN-968654552-10.xml.gz
Labels: bug-fix, build:general

#1014 Added tconvert-like command-line interface for gwpy.time
  gwpy/time/__main__.py
  gwpy/time/_tconvert.py
  gwpy/time/tests/test_main.py
  gwpy/time/tests/test_time.py
Labels: backwards-compatible, gwpy.time

#1023 Skip failing test from bug in framecpp
  gwpy/table/tests/test_table.py
Labels: bug-fix, gwpy.table

#1022 Fixed linking of CSS and JS in conf.py
  docs/conf.py
  requirements-doc.txt
Labels: bug-fix, documentation

#1024 Protect against KeyError in has_tex()
  gwpy/plot/tex.py
Labels: bug-fix, gwpy.plot
