Repository gwpy/gwpy, pull requests merged in 2019-10, with the labels that each got.

#1158 Introduce a round_to_power utility
  gwpy/signal/qtransform.py
  gwpy/utils/__init__.py
  gwpy/utils/misc.py
  gwpy/utils/tests/test_misc.py
Labels: enhancement, gwpy.utils

#1159 Improved support for pad in TimeSeries.read and TimeSeries.find
  gwpy/timeseries/core.py
  gwpy/timeseries/io/core.py
  gwpy/timeseries/io/hdf5.py
  gwpy/timeseries/io/nds2.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#1161 Fix to handle type changes when applying ADC scaling
  ci/install-el.sh
  gwpy/testing/utils.py
  gwpy/timeseries/io/gwf/__init__.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/timeseries/tests/test_io_gwf_framecpp.py
  gwpy/timeseries/tests/test_io_gwf_lalframe.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, gwpy.timeseries

#1165 Add basic clustering method to EventTable
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: backwards-compatible, gwpy.table

#1163 Add table format to read in SNAX features
  docs/table/io.rst
  gwpy/table/io/__init__.py
  gwpy/table/io/snax.py
  gwpy/table/tests/test_table.py
Labels: backwards-compatible, gwpy.table
