Repository gwpy/gwpy, pull requests merged in 2020-07, with the labels that each got.

#1238 Implement a TimeSeries.mask method
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: backwards-compatible, gwpy.timeseries

#1245 Changed fetch_catalog to work with new eventapi
  docs/install/index.rst
  examples/table/histogram.py
  examples/table/scatter.py
  gwpy/table/io/losc.py
  gwpy/table/tests/test_table.py
  setup.py
Labels: bug-fix, dep:gwosc, gwpy.timeseries

#1253 Update test for matplotlib-3.2.2
  gwpy/plot/tests/test_log.py
Labels: bug-fix, dep:matplotlib, gwpy.plot

#1215 Raise ValueError in TimeSeries.read if file(s) return a proper subset of request
  gwpy/timeseries/io/core.py
  gwpy/timeseries/io/losc.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, gwpy.timeseries

#1234 Raise DeprecationWarning for a future change to the default spectral averaging method
  gwpy/astro/range.py
  gwpy/signal/spectral/_registry.py
  gwpy/timeseries/timeseries.py
Labels: enhancement, gwpy.astro, gwpy.timeseries

#1254 Fix some issues with the copyright update utility
  docs/dev/release.rst
  setup_utils.py
Labels: bug-fix, build:general

#1259 Update matplotlib usage for compatibility with 3.3.0
  gwpy/conftest.py
  gwpy/plot/plot.py
  gwpy/plot/tests/test_axes.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/core.py
  gwpy/types/series.py
Labels: bug-fix, dep:matplotlib, gwpy.plot
