Repository gwpy/gwpy, pull requests merged in 2020-03, with the labels that each got.

#1217 Fix test mocks for sqlparse-0.3.1
  ci/test.sh
  gwpy/table/tests/test_table.py
Labels: bug-fix, continuous-integration, gwpy.table

#1172 Remove python2 packages and builds
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  CONTRIBUTING.md
  debian/control
  debian/rules
  etc/spec.template
  gwpy/detector/tests/test_channel.py
  gwpy/io/tests/test_nds2.py
  gwpy/utils/tests/test_enum.py
  requirements.txt
  setup.py
  setup_utils.py
Labels: backwards-incompatible, build:conda, build:debian, build:general, build:rhel, build:windows, continuous-integration, python3

#1162 Add python3.8 test job
  .circleci/config.yml
Labels: continuous-integration, python3

#1174 Remove all __future__ imports
  ci/parse-conda-requirements.py
  docs/plot/colors.rst
  gwpy/cli/cliproduct.py
  gwpy/detector/channel.py
  gwpy/detector/io/omega.py
  gwpy/io/cache.py
  gwpy/io/nds2.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_datafind.py
  gwpy/plot/gps.py
  gwpy/plot/log.py
  gwpy/plot/tex.py
  gwpy/segments/flag.py
  gwpy/segments/io/json.py
  gwpy/segments/io/segwizard.py
  gwpy/segments/tests/test_segments.py
  gwpy/signal/filter_design.py
  gwpy/signal/qtransform.py
  gwpy/signal/spectral/_lal.py
  gwpy/signal/spectral/_pycbc.py
  gwpy/signal/spectral/_scipy.py
  gwpy/signal/spectral/_ui.py
  gwpy/spectrogram/coherence.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/timeseries/io/losc.py
  gwpy/timeseries/io/nds2.py
  gwpy/timeseries/timeseries.py
  gwpy/utils/__init__.py
  gwpy/utils/enum.py
  gwpy/utils/lal.py
  gwpy/utils/misc.py
  gwpy/utils/sphinx/zenodo.py
  setup.py
  setup_utils.py
Labels: backwards-incompatible, python3

#1219 Remove python2 version pins
  requirements-test.txt
  requirements.txt
  setup.py
Labels: bug-fix, build:general, python3

#1224 Remove support for native Debian RHEL packages in CI
  .appveyor.yml
  .circleci/config.yml
  .gitignore
  .travis.yml
  MANIFEST.in
  ci/install-conda.sh
  ci/install-debian.sh
  ci/install-el.sh
  ci/test.sh
  debian/compat
  debian/control
  debian/copyright
  debian/gwpy-plot.install
  debian/python-gwpy.install
  debian/python-gwpy.pydist
  debian/python3-gwpy.install
  debian/python3-gwpy.pydist
  debian/rules
  debian/source/format
  debian/source/options
  docs/install/index.rst
  etc/spec.template
  setup.cfg
  setup.py
  setup_utils.py
Labels: backwards-incompatible, build:conda, build:debian, build:general, build:rhel, build:windows, continuous-integration

#1220 Bump minimum scipy and numpy version requirements
  docs/install/index.rst
  gwpy/astro/tests/test_range.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/plot/bode.py
  gwpy/plot/tests/test_bode.py
  gwpy/signal/filter_design.py
  gwpy/signal/qtransform.py
  gwpy/signal/spectral/_scipy.py
  gwpy/signal/tests/test_spectral_scipy.py
  gwpy/signal/window.py
  gwpy/spectrogram/spectrogram.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
  requirements.txt
  setup.py
Labels: backwards-incompatible, dep:numpy, dep:scipy, gwpy.astro, gwpy.frequencyseries, gwpy.plot, gwpy.signal, gwpy.timeseries, python3

#1218 Fix CIS API support
  gwpy/detector/channel.py
  gwpy/detector/io/cis.py
  gwpy/detector/tests/test_channel.py
  requirements-dev.txt
  requirements-test.txt
Labels: bug-fix, gwpy.detector

#1221 Update astropy requirement to 3.0.0
  docs/install/index.rst
  examples/test_examples.py
  gwpy/astro/tests/test_range.py
  gwpy/io/tests/test_mp.py
  gwpy/table/tests/test_gravityspy.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/core.py
  gwpy/utils/lal.py
  requirements.txt
  setup.py
Labels: backwards-incompatible, dep:astropy, gwpy.astro, gwpy.io, gwpy.table, gwpy.timeseries

#1207 Write series to GWF using name attribute for all structure names
  gwpy/io/gwf.py
  gwpy/timeseries/io/gwf/framecpp.py
  gwpy/timeseries/tests/test_io_gwf_framecpp.py
Labels: bug-fix, dep:frameCPP, gwpy.io, gwpy.timeseries

#1226 Take advantage of super() functionality in python3.x
  gwpy/cli/cliproduct.py
  gwpy/cli/coherence.py
  gwpy/cli/coherencegram.py
  gwpy/cli/gwpy_plot.py
  gwpy/cli/qtransform.py
  gwpy/cli/spectrogram.py
  gwpy/cli/spectrum.py
  gwpy/cli/timeseries.py
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/hist.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/io/ligolw.py
  gwpy/plot/axes.py
  gwpy/plot/bode.py
  gwpy/plot/gps.py
  gwpy/plot/legend.py
  gwpy/plot/log.py
  gwpy/plot/plot.py
  gwpy/plot/segments.py
  gwpy/plot/units.py
  gwpy/segments/flag.py
  gwpy/segments/segments.py
  gwpy/signal/qtransform.py
  gwpy/spectrogram/spectrogram.py
  gwpy/spectrogram/tests/test_spectrogram.py
  gwpy/table/table.py
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_core.py
  gwpy/types/array.py
  gwpy/types/array2d.py
  gwpy/types/index.py
  gwpy/types/series.py
  gwpy/types/tests/test_array2d.py
  gwpy/types/tests/test_series.py
  gwpy/utils/decorators.py
Labels: backwards-incompatible, python3
