Repository gwpy/gwpy, pull requests merged in 2020-02, with the labels that each got.

#1204 Improve reading of empty tables from LIGO_LW XML
  ci/test.sh
  gwpy/table/io/ligolw.py
  gwpy/table/tests/test_io_ligolw.py
  gwpy/table/tests/test_table.py
Labels: bug-fix, dep:python-ligo-lw, gwpy.table

#1202 Fix bugs in gwpy.signal related to window handling
  gwpy/signal/spectral/_lal.py
  gwpy/signal/spectral/_ui.py
  gwpy/signal/tests/test_spectral_ui.py
Labels: bug-fix, gwpy.signal

#1213 Pin mock for testing on python2
  requirements-test.txt
  setup.py
Labels: bug-fix, build:general, continuous-integration

#1197 Don't include test skips in coverage
  examples/test_examples.py
  gwpy/astro/tests/test_range.py
  gwpy/segments/tests/test_flag.py
  gwpy/table/tests/test_gravityspy.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/utils/tests/test_lal.py
Labels: bug-fix, continuous-integration

#1209 Fix typo: undelying -> underlying
  gwpy/timeseries/statevector.py
Labels: bug-fix, documentation, gwpy.timeseries

#1212 Add missing "class" and "classes" in titles
  docs/detector/channel.rst
  docs/segments/index.rst
  docs/spectrum/index.rst
  docs/timeseries/statevector.rst
Labels: bug-fix, documentation
