Repository gwpy/gwpy, pull requests merged in 2020-05, with the labels that each got.

#1235 Fix a bug in reading data asking for a superset of the available segment
  gwpy/timeseries/io/core.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, gwpy.timeseries

#1239 Fix two issues with test suites
  ci/install-conda.sh
  ci/parse-conda-requirements.py
  gwpy/timeseries/tests/test_statevector.py
  requirements.txt
Labels: bug-fix, build:conda, continuous-integration, dep:gwosc, gwpy.timeseries

#1229 Update to datafind tests
  gwpy/io/tests/test_datafind.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: bug-fix, continuous-integration, dep:gwdatafind, gwpy.io

#1236 Prevent GPS precision errors by using to_gps as middleware
  gwpy/io/gwf.py
  gwpy/plot/axes.py
  gwpy/plot/tests/test_axes.py
  gwpy/plot/tests/test_segments.py
  gwpy/signal/spectral/_lal.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/framecpp.py
Labels: bug-fix, dep:lal, gwpy.io, gwpy.plot, gwpy.signal, gwpy.timeseries

#1243 Fix two lint issues
  gwpy/conftest.py
  gwpy/table/io/utils.py
Labels: bug-fix, gwpy.table

#1244 Remove support for python3.5
  .circleci/config.yml
  CONTRIBUTING.md
  docs/install/index.rst
  gwpy/cli/tests/base.py
  gwpy/cli/tests/test_qtransform.py
  gwpy/detector/tests/test_channel.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_kerberos.py
  gwpy/io/tests/test_nds2.py
  gwpy/plot/tests/test_tex.py
  gwpy/segments/tests/test_flag.py
  gwpy/signal/tests/test_spectral_median_mean.py
  gwpy/table/tests/test_table.py
  gwpy/testing/compat.py
  gwpy/testing/mocks.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
  gwpy/types/tests/test_array.py
  setup.py
Labels: backwards-incompatible, continuous-integration, gwpy.io, gwpy.signal, python3

#1214 as_matrix pandas funtion call does not exist anymore in pandas 1.0.0
  gwpy/table/gravityspy.py
Labels: bug-fix, dep:gravityspy, gwpy.table

#1139 Updates to custom LogFormatters for plots
  docs/install/index.rst
  docs/plot/index.rst
  docs/plot/log.rst
  gwpy/plot/colorbar.py
  gwpy/plot/log.py
  gwpy/plot/plot.py
  gwpy/plot/tests/test_log.py
  requirements.txt
  setup.py
Labels: dep:matplotlib, gwpy.plot
