Repository gwpy/gwpy, pull requests merged in 2021-07, with the labels that each got.

#1369 Improve auto-detection of time-like columns in tables
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: api:patch, gwpy.table

#1282 Change default spectral averaging method to 'median'
  gwpy/astro/range.py
  gwpy/astro/tests/test_range.py
  gwpy/signal/spectral/_registry.py
  gwpy/timeseries/timeseries.py
Labels: gwpy.astro, gwpy.timeseries

#1370 Refactor TimeSeries.coherence to use scipy.signal.coherence
  gwpy/signal/spectral/__init__.py
  gwpy/signal/spectral/_scipy.py
  gwpy/timeseries/timeseries.py
Labels: api:patch, dep:scipy, gwpy.signal, gwpy.timeseries
