Repository gwpy/gwpy, pull requests merged in 2021-06, with the labels that each got.

#1339 Fix detection of uproot4 writing capability
  gwpy/table/io/root.py
Labels: api:patch, dep:uproot, gwpy.table

#1342 Handle CVMFS failures more gracefully
  gwpy/io/cache.py
  gwpy/testing/errors.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: api:patch, gwpy.io, gwpy.testing, gwpy.timeseries

#1343 Dynamically generate NDS2 enums
  gwpy/detector/channel.py
  gwpy/io/nds2.py
  gwpy/io/tests/test_nds2.py
Labels: gwpy.detector, gwpy.io

#1344 Fix bug in Nds2ChannelType.find
  gwpy/io/nds2.py
  gwpy/io/tests/test_nds2.py
Labels: api:patch, dep:nds2, gwpy.io

#1293 Refactor gwpy.astro.inspiral_range to sensemon_range
  gwpy/astro/__init__.py
  gwpy/astro/range.py
  gwpy/astro/tests/test_range.py
Labels: api:minor, gwpy.astro, issue:feature-request

#1314 Improve gwpy.io.ligolw
  gwpy/io/ligolw.py
  gwpy/io/tests/test_ligolw.py
  gwpy/segments/io/ligolw.py
Labels: api:minor, dep:python-ligo-lw, gwpy.io, gwpy.segments

#1333 Fix Docs of class BodePlot
  gwpy/plot/bode.py
Labels: documentation, gwpy.plot

#1329 Add --average-method command-line option for gwpy-plot products
  gwpy/cli/cliproduct.py
  gwpy/cli/spectrogram.py
  gwpy/cli/spectrum.py
Labels: api:minor, gwpy.cli

#1345 Fix enable for imperial units
  gwpy/detector/units.py
Labels: api:patch, dep:astropy, gwpy.detector

#1349 Migrate pytest configuration to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: continuous-integration

#1347 Support output kwarg in gwpy.signal.filter_design.notch()
  gwpy/signal/filter_design.py
Labels: api:patch, dep:scipy, gwpy.signal

#1354 Replace numpy.typeDict with numpy.sctypeDict
  gwpy/io/ligolw.py
Labels: api:patch, dep:numpy, gwpy.io

#1357 Remove unnecessary import protection for python < 3
  gwpy/plot/tests/test_log.py
Labels: api:patch, gwpy.plot

#1355 Automatically cancel redundant CI workflows
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/dist.yml
  .github/workflows/lint.yml
Labels: continuous-integration

#1346 Update CI to run on main branch and run some jobs nightly
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/dist.yml
  .github/workflows/lint.yml
Labels: continuous-integration

#1358 Remove config files for unused QA tools
  .codebeatignore
  .pylintrc
  bandit.yml
Labels: continuous-integration

#1352 Fix physical_type str formatting for astropy 4.3+
  gwpy/plot/units.py
Labels: api:patch, dep:astropy, gwpy.plot

#1348 Update test function names in gwpy.astro
  gwpy/astro/tests/test_range.py
Labels: api:patch, gwpy.astro

#1275 EventTable.read(): modify API for `hdf5.snax` format
  docs/table/io.rst
  gwpy/table/io/snax.py
  gwpy/table/tests/test_table.py
Labels: api:minor, gwpy.table

#1330 Enable FFT options for gwpy-plot qtransform product
  gwpy/cli/cliproduct.py
  gwpy/cli/qtransform.py
  gwpy/cli/tests/test_qtransform.py
Labels: api:minor, gwpy.cli
