Repository gwpy/gwpy, pull requests merged in 2021-03, with the labels that each got.

#1304 Add new gwpy.testing.errors module to provide error-handling utilities for the test suite
  .github/workflows/dist.yml
  gwpy/segments/tests/test_flag.py
  gwpy/table/tests/test_gravityspy.py
  gwpy/table/tests/test_table.py
  gwpy/testing/errors.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/timeseries/tests/test_timeseries.py
  requirements-test.txt
Labels: continuous-integration, gwpy.testing

#1309 Add basic support for uproot4
  docs/references.rst
  docs/table/io.rst
  gwpy/table/io/root.py
  gwpy/table/tests/test_table.py
  requirements-dev.txt
Labels: api:patch, dep:uproot, gwpy.table

#1310 Install texlive on macos and ubuntu during CI
  .github/workflows/build.yml
  ci/codecov.sh
  ci/install-conda.sh
  ci/test.sh
  requirements-apt.txt
Labels: api:patch, continuous-integration, dep:matplotlib

#1313 Don't modify incoming VetoDef object when converting to DataQualityFlag
  gwpy/segments/flag.py
  gwpy/segments/tests/test_flag.py
Labels: api:patch, dep:glue, dep:python-ligo-lw, gwpy.segments

#1296 fixing capatibility with latest pandas
  gwpy/table/gravityspy.py
Labels: api:patch, dep:gravityspy, gwpy.table
