Repository gwpy/gwpy, pull requests merged in 2022-06, with the labels that each got.

#1508 Update rstcheck to 6.x
  .github/workflows/lint.yml
  docs/dev/release.rst
  docs/table/io.rst
  docs/timeseries/datafind.rst
  pyproject.toml
Labels: documentation, continuous-integration

#1499 Migrate GWDataFind interface to new UI
  docs/install.rst
  docs/timeseries/datafind.rst
  gwpy/io/datafind.py
  gwpy/io/ffldatafind.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_ffldatafind.py
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_timeseries.py
  setup.cfg
Labels: gwpy.io, api:patch, dep:gwdatafind

#1512 Updating the name of the gravity spy server that hosts the glitch tables
  gwpy/table/io/gravityspy.py
Labels: gwpy.table, api:patch

#1507 Strict xfail.
  pyproject.toml
Labels: continuous-integration

#1517 Workaround a bug in framecpp-swig
  gwpy/table/tests/test_table.py
Labels: gwpy.table, api:patch, dep:frameCPP

#1514 Update 2.1.x release branch for 2.1.4
  .flake8
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/dist.yml
  .github/workflows/lint.yml
  CONTRIBUTING.md
  README.md
  docs/dev/release.rst
  docs/install.rst
  docs/table/io.rst
  docs/timeseries/datafind.rst
  docs/timeseries/io.rst
  gwpy/io/cache.py
  gwpy/io/datafind.py
  gwpy/io/ffldatafind.py
  gwpy/io/gwf.py
  gwpy/io/hdf5.py
  gwpy/io/kerberos.py
  gwpy/io/ligolw.py
  gwpy/io/mp.py
  gwpy/io/nds2.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_ffldatafind.py
  gwpy/io/tests/test_gwf.py
  gwpy/io/tests/test_ligolw.py
  gwpy/io/tests/test_nds2.py
  gwpy/io/tests/test_utils.py
  gwpy/io/utils.py
  gwpy/segments/tests/test_flag.py
  gwpy/signal/filter_design.py
  gwpy/table/io/gravityspy.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/types/series.py
  pyproject.toml
  setup.cfg
  tools/parse-conda-requirements.py
Labels: release
