Repository gwpy/gwpy, pull requests merged in 2022-02, with the labels that each got.

#1481 Avoid broken pip in CI jobs
  .github/workflows/dependencies.yml
Labels: continuous-integration

#1363 Handle cases in EventTable.cluster() where table is empty or clustered multiple times
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: gwpy.table, api:patch

#1428 Resolve "Bug in Series index comparison"
  gwpy/types/series.py
Labels: api:patch, gwpy.types

#1406 Add a method to compute the transfer function between two TimeSeries objects
  examples/frequencyseries/transfer_function.py
  gwpy/cli/__init__.py
  gwpy/cli/tests/test_transferfunction.py
  gwpy/cli/transferfunction.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: gwpy.cli, gwpy.timeseries, api:minor

#1484 Fix deprecationwarning from scipy 1.8.0
  gwpy/signal/filter_design.py
Labels: dep:scipy, api:patch

#1480 Use pip2conda to parse requirements for conda
  .github/workflows/build.yml
  tools/parse-conda-requirements.py
Labels: continuous-integration

#1483 Update Axes.tile to use sortbycolor
  gwpy/plot/axes.py
  gwpy/plot/tests/test_axes.py
  pyproject.toml
Labels: dep:matplotlib, api:minor, gwpy.plot

#1465 Remove the deprecated hdf5.losc format
  gwpy/timeseries/io/losc.py
  gwpy/timeseries/tests/test_io_losc.py
Labels: gwpy.timeseries, api:major
