Repository gwpy/gwpy, pull requests merged in 2022-08, with the labels that each got.

#1482 Improve the codecov configuration
  .codecov.yml
Labels: continuous-integration

#1479 Fix bugs in LAL unit conversion
  gwpy/frequencyseries/frequencyseries.py
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/utils/lal.py
  gwpy/utils/tests/test_lal.py
Labels: gwpy.timeseries, api:major, gwpy.frequencyseries, gwpy.utils

#1391 Add support for filter functions to use multiple columns with `EventTable.filter`
  docs/references.rst
  docs/table/filter.rst
  gwpy/table/filter.py
  gwpy/table/table.py
  gwpy/table/tests/test_table.py
Labels: documentation, gwpy.table, api:minor

#1530 Fix some line length issues
  gwpy/frequencyseries/frequencyseries.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/io/losc.py
Labels: gwpy.timeseries, gwpy.table, api:patch, gwpy.frequencyseries

#1529 Update 2.1.x release branch for 2.1.5
  examples/frequencyseries/percentiles.py
  gwpy/frequencyseries/frequencyseries.py
  gwpy/signal/filter_design.py
  gwpy/signal/spectral/_pycbc.py
  gwpy/signal/tests/test_window.py
  gwpy/signal/window.py
  gwpy/table/tests/test_table.py
  gwpy/timeseries/io/losc.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
  gwpy/utils/misc.py
  gwpy/utils/tests/test_misc.py
Labels: release

#1468 Remove deprecated colorbar behaviour
  gwpy/plot/colorbar.py
  gwpy/plot/plot.py
  gwpy/plot/tests/test_axes.py
Labels: api:major, gwpy.plot

#1471 Remove deprecated GWF I/O options
  docs/timeseries/io.rst
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/__init__.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, api:major

#1534 Use Path.samefile() to compare paths
  gwpy/timeseries/tests/test_io_gwf_lalframe.py
Labels: gwpy.timeseries

#1533 Change the way Index.define creates arrays to prevent precision issues
  gwpy/types/index.py
  gwpy/types/tests/test_index.py
Labels: api:patch, gwpy.types

#1513 Updating the .fetch example to be in line with the columns names of t…
  gwpy/table/table.py
Labels: documentation, gwpy.table, dep:gravityspy

#1536 Fix off-by-one error in timeseries.mask
  gwpy/timeseries/timeseries.py
Labels: gwpy.timeseries, api:patch

#1538 Minor doc changes
  docs/detector/channel.rst
  docs/segments/index.rst
  docs/table/io.rst
Labels: documentation

#1476 Simplify from_lal series conversions
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_io_gwf_lalframe.py
Labels: gwpy.timeseries, gwpy.frequencyseries, dep:lal

#1532 Fix typo in spectrogram documentation
  docs/spectrogram/index.rst
Labels: documentation, api:patch

#1531 Replace skip_missing_dependency test decorator with pytest.mark.requires
  gwpy/astro/tests/test_range.py
  gwpy/cli/tests/base.py
  gwpy/cli/tests/test_gwpy_plot.py
  gwpy/cli/tests/test_qtransform.py
  gwpy/detector/tests/test_channel.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/io/tests/test_cache.py
  gwpy/io/tests/test_datafind.py
  gwpy/io/tests/test_gwf.py
  gwpy/io/tests/test_ligolw.py
  gwpy/io/tests/test_nds2.py
  gwpy/io/tests/test_utils.py
  gwpy/segments/tests/test_flag.py
  gwpy/signal/tests/test_spectral_median_mean.py
  gwpy/signal/tests/test_spectral_ui.py
  gwpy/table/tests/test_io_ligolw.py
  gwpy/table/tests/test_table.py
  gwpy/testing/utils.py
  gwpy/time/tests/test_time.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_io_gwf_lalframe.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/timeseries/tests/test_timeseries.py
  setup.cfg
Labels: gwpy.cli, gwpy.io, gwpy.signal, gwpy.timeseries, gwpy.segments, gwpy.spectrogram, gwpy.table, api:minor, gwpy.frequencyseries, gwpy.time, gwpy.detector, gwpy.testing, gwpy.astro

#1501 LALFrame handling of empty arrays.
  .gitignore
  gwpy/timeseries/core.py
  gwpy/timeseries/io/gwf/lalframe.py
  gwpy/timeseries/tests/test_io_gwf_lalframe.py
  gwpy/utils/lal.py
  gwpy/utils/tests/test_lal.py
Labels: gwpy.timeseries, api:minor, gwpy.utils

#1494 Split up functionality of TimeSeries.gate()
  gwpy/timeseries/timeseries.py
Labels: gwpy.timeseries, api:patch
