Repository gwpy/gwpy, pull requests merged in 2022-09, with the labels that each got.

#1500 Add ValueError when improper starting frequency used with `to_pycbc()`
  gwpy/frequencyseries/frequencyseries.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
Labels: api:patch, gwpy.frequencyseries, dep:pycbc

#1265 Add support for reading gstlal trigger files
  docs/table/io.rst
  gwpy/table/io/__init__.py
  gwpy/table/io/gstlal.py
  gwpy/table/tests/test_io_gstlal.py
Labels: gwpy.table, api:minor

#1543 Improve PyCBC HDF5 table I/O
  docs/table/io.rst
  gwpy/table/io/pycbc.py
  gwpy/table/tests/test_io_pycbc.py
  gwpy/table/tests/test_table.py
  setup.cfg
Labels: gwpy.table, api:minor, dep:pycbc
