Repository gwpy/gwpy, pull requests merged in 2023-09, with the labels that each got.

#1676 Improve tests of TimeSeriesDict.find error handling
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, api:patch, dep:gwdatafind

#1675 Replace bilinear_zpk with the scipy implementation
  gwpy/signal/filter_design.py
  gwpy/signal/tests/test_filter_design.py
Labels: gwpy.signal, dep:scipy, api:minor

#1677 Fix all executable lint issues
  gwpy/cli/gwpy_plot.py
  gwpy/detector/io/clf.py
  gwpy/detector/io/omega.py
  gwpy/io/datafind.py
  gwpy/io/gwf.py
Labels: gwpy.cli, gwpy.io, api:patch, gwpy.detector
