Repository gwpy/gwpy, pull requests merged in 2023-04, with the labels that each got.

#1602 replace deprecated interp2d with RectBivariateSpline
  gwpy/signal/qtransform.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, dep:scipy, api:patch

#1600 Address floating point errors for index creation
  gwpy/types/index.py
  gwpy/types/tests/test_index.py
Labels: api:patch, gwpy.types

#1606 Fix tag error
  gwpy/timeseries/core.py
  gwpy/timeseries/io/losc.py
Labels: gwpy.timeseries, api:patch, dep:gwosc

#1607 Update 3.0.x release branch for 3.0.4
  gwpy/timeseries/core.py
  gwpy/timeseries/io/losc.py
Labels: api:patch, release

#1613 Update all GWOSC URLs to gwosc.org
  docs/references.rst
  docs/table/io.rst
  docs/timeseries/opendata.rst
  docs/timeseries/statevector.rst
  examples/miscellaneous/open-data-spectrogram.py
  examples/miscellaneous/range-spectrogram.py
  examples/miscellaneous/range-timeseries.py
  examples/segments/open-data.py
  examples/timeseries/inject.py
  gwpy/io/tests/test_datafind.py
  gwpy/segments/flag.py
  gwpy/timeseries/tests/test_timeseries.py
Labels: documentation, gwpy.io, gwpy.timeseries, gwpy.segments, dep:gwosc
