Repository gwpy/gwpy, pull requests merged in 2023-10, with the labels that each got.

#1687 Update versions for GitHub Actions actions
  .github/workflows/conda.yml
  .github/workflows/dependencies.yml
  .github/workflows/dist.yml
  .github/workflows/lint.yml
Labels: continuous-integration

#1682 Update 3.0.x release branch for 3.0.6
  .github/workflows/conda.yml
  .github/workflows/dependencies.yml
  .github/workflows/dist.yml
  gwpy/cli/gwpy_plot.py
  gwpy/detector/channel.py
  gwpy/detector/io/clf.py
  gwpy/detector/io/omega.py
  gwpy/io/datafind.py
  gwpy/io/gwf.py
  gwpy/plot/axes.py
  gwpy/plot/plot.py
  gwpy/plot/tests/test_axes.py
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/types/series.py
  gwpy/utils/tests/test_misc.py
  pyproject.toml
Labels: api:patch, release

#1690 Revert "docs: use GWOSC where we can in CLI examples" in 3.0.x release branch
  docs/cli/examples.ini
Labels: documentation

#1685 Fix array indexing of Series.xindex
  gwpy/types/sliceutils.py
  gwpy/types/tests/test_array2d.py
  gwpy/types/tests/test_series.py
Labels: api:patch, gwpy.types

#1689 Add CI PyPI release workflow
  .github/workflows/release.yml
Labels: continuous-integration, release

#1665 Sieve URLs from gwosc client before fetch
  gwpy/timeseries/io/losc.py
Labels: gwpy.timeseries, api:patch, dep:gwosc

#1698 A "bugfix" to a test fixture and a few minor formatting changes
  gwpy/signal/tests/test_coherence.py
Labels: gwpy.signal, api:patch, continuous-integration
