Repository gwpy/gwpy, pull requests merged in 2023-08, with the labels that each got.

#1643 Move 2pi scaling of zpk filters for better encapsulation and more explicit use
  gwpy/signal/filter_design.py
  gwpy/signal/tests/test_filter_design.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
Labels: gwpy.signal, gwpy.timeseries, api:minor

#1654 Fix type comparison lint
  gwpy/types/series.py
  gwpy/utils/tests/test_misc.py
Labels: api:patch, gwpy.types, gwpy.utils

#1661 Fix compatibility with matplotlib 3.8.0
  gwpy/plot/axes.py
  gwpy/plot/plot.py
  gwpy/plot/tests/test_axes.py
Labels: dep:matplotlib, api:patch, gwpy.plot

#1662 Update experimental dependencies job to Python 3.11
  .github/workflows/dependencies.yml
Labels: continuous-integration

#1651 Fix a bug with frequency domain filtering
  gwpy/frequencyseries/_fdcommon.py
  gwpy/frequencyseries/tests/test_frequencyseries.py
  gwpy/spectrogram/tests/test_spectrogram.py
Labels: api:minor, gwpy.frequencyseries
