Repository gwpy/gwpy, pull requests merged in 2023-12, with the labels that each got.

#1723 Allow localhost sockets during dist testing
  .github/workflows/dist.yml
  pyproject.toml
Labels: continuous-integration

#1688 Silence LAL LIGOTimeGPS warnings when parsing a cache
  gwpy/io/cache.py
Labels: gwpy.io, api:patch, dep:lal

#1695 Replace maya with dateparser in gwpy.time
  docs/conf.py
  docs/install.rst
  docs/references.rst
  gwpy/time/_tconvert.py
  gwpy/time/tests/test_time.py
  pyproject.toml
Labels: documentation, api:patch, gwpy.time

#1719 Replace datetime.utcnow() with datetime.now(UTC)
  gwpy/time/_tconvert.py
Labels: api:patch, gwpy.time

#1691 Use class fixtures to download GWOSC data that is used many times
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, api:patch, continuous-integration

#1721 Add aliases for LIGO and Virgo's 'time' units
  gwpy/detector/tests/test_units.py
  gwpy/detector/units.py
  gwpy/plot/gps.py
  gwpy/plot/tests/test_gps.py
Labels: api:patch, gwpy.detector, gwpy.plot

#1714 Add support for Python 3.12
  .github/workflows/dist.yml
  pyproject.toml
Labels: build:general, api:patch, continuous-integration

#1616 Add support for parsing multiple FFL files for a given dataset
  gwpy/io/ffldatafind.py
  gwpy/io/tests/test_ffldatafind.py
Labels: gwpy.io, api:patch

#1641 Add tests for gwpy.timeseries.io.cache
  gwpy/timeseries/io/cache.py
  gwpy/timeseries/tests/test_io_cache.py
Labels: gwpy.timeseries, api:patch

#1672 Fix bug in `TimeSeriesDict.find`
  gwpy/timeseries/core.py
Labels: gwpy.timeseries, api:patch, dep:gwdatafind

#1699 Fix the Zenodo RST utility module
  gwpy/utils/sphinx/zenodo.py
  gwpy/utils/tests/test_sphinx_zenodo.py
Labels: api:patch, gwpy.utils
