Repository gwpy/gwpy, pull requests merged in 2023-05, with the labels that each got.

#1608 Fix issues writing StateVector.bits to HDF5
  docs/install.rst
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/types/io/hdf5.py
  pyproject.toml
Labels: gwpy.timeseries, api:patch, dep:h5py

#1610 Fix plotting TimeSeriesDict on separate Axes
  gwpy/timeseries/core.py
  gwpy/timeseries/tests/test_core.py
Labels: gwpy.timeseries, api:patch

#1611 Resample time series for coherence calculation when sampling rates di…
  gwpy/signal/spectral/_scipy.py
  gwpy/signal/tests/test_coherence.py
Labels: gwpy.signal, dep:scipy, api:patch

#1622 Update LatexInlineDimensional unit formatter for Astropy 5.3
  gwpy/plot/units.py
Labels: dep:astropy, api:patch, gwpy.plot

#1621 Fix issues with Series.crop precision
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/types/series.py
  gwpy/types/tests/test_series.py
Labels: api:patch, gwpy.frequencyseries, gwpy.types

#1617 Document the copy keyword for TimeSeriesBaseDict.crop
  gwpy/timeseries/core.py
Labels: gwpy.timeseries, api:patch

#1631 Improve tests of TimeSeries.csd
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, dep:numpy, api:patch

#1625 Update 3.0.x release branch for 3.0.5
  docs/install.rst
  docs/references.rst
  docs/table/io.rst
  docs/timeseries/opendata.rst
  docs/timeseries/statevector.rst
  examples/miscellaneous/open-data-spectrogram.py
  examples/miscellaneous/range-spectrogram.py
  examples/miscellaneous/range-timeseries.py
  examples/segments/open-data.py
  examples/timeseries/inject.py
  gwpy/frequencyseries/tests/test_hist.py
  gwpy/io/tests/test_datafind.py
  gwpy/plot/units.py
  gwpy/segments/flag.py
  gwpy/signal/spectral/_scipy.py
  gwpy/signal/tests/test_coherence.py
  gwpy/timeseries/core.py
  gwpy/timeseries/statevector.py
  gwpy/timeseries/tests/test_core.py
  gwpy/timeseries/tests/test_statevector.py
  gwpy/timeseries/tests/test_timeseries.py
  gwpy/timeseries/timeseries.py
  gwpy/types/io/hdf5.py
  gwpy/types/series.py
  gwpy/types/tests/test_series.py
  pyproject.toml
Labels: api:patch, release
