Repository gwpy/gwpy, pull requests merged in 2024-06, with the labels that each got.

#1753 Fix usage of hann window for scipy 1.13.0
  gwpy/timeseries/tests/test_timeseries.py
Labels: gwpy.timeseries, dep:scipy, api:patch

#1724 Use conda with libmamba solver in CI
  .github/workflows/conda.yml
Labels: continuous-integration

#1763 Use scipy.integrate.trapezoid in gwpy.astro
  gwpy/astro/range.py
  gwpy/astro/tests/test_range.py
  pyproject.toml
Labels: dep:scipy, api:patch, gwpy.astro

#1747 Quick fix reuse of whiten argument issue #1652
  gwpy/cli/qtransform.py
Labels: gwpy.cli

#1749 Add HoftOnline as a preferred frametype
  gwpy/io/datafind.py
Labels: gwpy.io

#1765 Add 'time (s)' as alias for 's'
  gwpy/detector/units.py
Labels: gwpy.detector

#1762 Update usage of scipy 'firwin' function
  gwpy/signal/filter_design.py
  gwpy/signal/tests/test_filter_design.py
Labels: gwpy.signal, dep:scipy, api:patch

#1755 Skip tests that fail on Zenodo rate limit
  gwpy/utils/tests/test_sphinx_zenodo.py
Labels: api:patch, gwpy.utils, continuous-integration
